codebase/config/wsdl/HelloWorlodService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1 (UNKNOWN_BRANCH-false; 2015-01-15T16:53:43+0100) JAXWS-RI/2.2.10 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://webservices.examples.xworks.ptc.ext/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="http://webservices.examples.xworks.ptc.ext/" name="HelloWorldService">
  <types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservices.examples.xworks.ptc.ext/">

      <xs:element name="hello1" type="tns:hello1"/>

      <xs:element name="hello1Response" type="tns:hello1Response"/>

      <xs:complexType name="hello1">
        <xs:sequence>
          <xs:element name="arg0" type="tns:itemInfo" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="itemInfo">
        <xs:sequence>
          <xs:element name="itemNumber" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="hello1Response">
        <xs:sequence>
          <xs:element name="return" type="tns:serviceResult" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="serviceResult">
        <xs:sequence>
          <xs:element name="itemResults" type="tns:itemResult" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="resultCode" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="itemResult">
        <xs:sequence>
          <xs:element name="itemNumber" type="xs:string" minOccurs="0"/>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="resultCode" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="hello1">
    <part name="parameters" element="tns:hello1"/>
  </message>
  <message name="hello1Response">
    <part name="parameters" element="tns:hello1Response"/>
  </message>
  <portType name="HelloWorldService">
    <operation name="hello1">
      <input wsam:Action="http://webservices.examples.xworks.ptc.ext/HelloWorldService/hello1Request" message="tns:hello1"/>
      <output wsam:Action="http://webservices.examples.xworks.ptc.ext/HelloWorldService/hello1Response" message="tns:hello1Response"/>
    </operation>
  </portType>
  <binding name="HelloWorldServicePortBinding" type="tns:HelloWorldService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="hello1">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="HelloWorldService">
    <port name="HelloWorldServicePort" binding="tns:HelloWorldServicePortBinding">
      <soap:address location="http://wc110-f000.localvm.com:80/Windchill/servlet/webservice/xworksExample/HelloWorlodService"/>
    </port>
  </service>
</definitions>