codebase/WEB-INF/wsdl/PartFaeStatusUpdate.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<definitions targetNamespace="http://part.webservice.integration.catl.com/" name="PartFaeStatusUpdate" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://part.webservice.integration.catl.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xs:schema version="1.0" targetNamespace="http://part.webservice.integration.catl.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="updateFaeStatus" type="tns:updateFaeStatus"/>

      <xs:element name="updateFaeStatusResponse" type="tns:updateFaeStatusResponse"/>

      <xs:complexType name="updateFaeStatus">
        <xs:sequence>
          <xs:element name="arg0" type="tns:partFaeInfo" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="partFaeInfo">
        <xs:sequence>
          <xs:element name="faeStatus" type="xs:string" minOccurs="0"/>
          <xs:element name="partNumber" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="updateFaeStatusResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:processResult" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="processResult">
        <xs:sequence>
          <xs:element name="itemResults" type="tns:itemResult" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="result" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="itemResult">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="number" type="xs:string" minOccurs="0"/>
          <xs:element name="result" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="updateFaeStatus">
    <part name="parameters" element="tns:updateFaeStatus"/>
  </message>
  <message name="updateFaeStatusResponse">
    <part name="parameters" element="tns:updateFaeStatusResponse"/>
  </message>
  <portType name="PartFaeStatusUpdate">
    <operation name="updateFaeStatus">
      <input wsam:Action="http://part.webservice.integration.catl.com/PartFaeStatusUpdate/updateFaeStatusRequest" message="tns:updateFaeStatus"/>
      <output wsam:Action="http://part.webservice.integration.catl.com/PartFaeStatusUpdate/updateFaeStatusResponse" message="tns:updateFaeStatusResponse"/>
    </operation>
  </portType>
  <binding name="PartFaeStatusUpdatePortBinding" type="tns:PartFaeStatusUpdate">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="updateFaeStatus">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="PartFaeStatusUpdate">
    <port name="PartFaeStatusUpdatePort" binding="tns:PartFaeStatusUpdatePortBinding">
      <soap:address location="http://catl-plm-qasapp.catlbattery.com/Windchill/servlet/webservice/part/PartFaeStatusUpdate"/>
    </port>
  </service>
</definitions>

